[Unit]
Description=Raspberry Pi Keezer Controller 
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/nodejs /home/pi/src/beer-pi/beer-controller.js
WorkingDirectory=/home/pi/src/beer-pi

[Install]
WantedBy=multi-user.target